/* General Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  --primary-color: #2b697a;
  --primary-color-light: #c0d2d7;
  --secondary-color: #36a18b;
  --secondary-color-light: #e8f2ee;
  --tertiary-color: #eee;
  --content-container-width: 600px;
}

section, footer {
  padding: 3rem;
}

li {
  list-style-type: none;
}

a {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: none;
}

.content-container {
  margin: 0 auto;
  max-width: var(--content-container-width);
}

.section-title {
  margin-bottom: 1.3rem;
}

/* Personal info section */
#personal-info {
  background-color: var(--primary-color);  
  color: white;
}

#personal-info .content-container {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

#personal-info img {
  margin-top: 3rem;
  width: 160px;
  border-radius: 100%;
}

#personal-info h1 {
  font-size: 2rem;
}

#personal-info p {
  max-width: 300px;
}

#personal-info ul {
  display: flex;
  flex-wrap: wrap;
}

#personal-info li {
  margin-right: 0.6rem;
  margin-bottom: 1rem;
}

#personal-info li:hover {
  opacity: 0.8;
}

#personal-info .social-links i {
  font-size: 2rem;
  color: var(--primary-color-light);
}

#personal-info .contact-links a {
  padding: 0.4rem 0.6rem;
  background-color: var(--primary-color-light);
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;  
}

/* Bio & Experience section */
#bio ul {
  max-width: 450px;
}

.bio-timeline li {
  display: flex;
  margin-bottom: 0.5rem;
}

.bio-timeline .bio-year {
  margin-right: 1rem;
  font-weight: 700;
}

/* Hobbies section */
#hobbies {
  background-color: var(--secondary-color-light);
}

/* Skills section */
.card-skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card-skills {
  padding: 2rem;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-skills i {
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.card-skills h3 {
  text-align: center;
  margin-bottom: 0.4rem;
}

.card-skills p {
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--secondary-color-light);
}

/* Media queries */

@media screen and (max-width: 720px) {
  .card-skills-container {
    grid-template-columns: 1fr;
  }  
}