/* General Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  --header-color: white;
  --hero-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --content-container-width: 650px;
  --nav-width: 800px;
}

:root.light {
  --primary-color: #2b697a;
  --primary-color-light: #c0d2d7;
  --secondary-color: #36a18b;
  --secondary-color-light: #e8f2ee;
  --tertiary-color: #f2f2f2;
  --text-primary-color: black;
  --text-secondary-color: white;
  --background-color: white;
}

:root.dark {
  --primary-color: #282c34;
  --primary-color-light: #ff8c00;
  --secondary-color: #ff8c00;
  --secondary-color-light: #282c34;
  --tertiary-color: #282c34;
  --text-primary-color: white;
  --text-secondary-color: orange;
  --background-color: #202023;
}

body {
  color: var(--text-primary-color);
  background-color: var(--background-color);
}

section,
footer {
  padding: 3rem;
}

li {
  list-style-type: none;
}

a {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: none;
}

.content-container {
  margin: 0 auto;
  max-width: var(--content-container-width);
}

.section-title {
  margin-bottom: 1.3rem;
}

.hidden {
  visibility: hidden;
}

/* Header & nav*/
header  {
  position: fixed;
  z-index: 2;
  padding: 0.5rem 0;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
  height: 4rem;
  width: 100%;
}

nav {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: var(--nav-width);
  display: flex;
  justify-content: space-between;
}

nav a{
  margin-right: 2rem;
  display: flex;
  align-items: center;
  color: var(--header-color);  
}

nav .nav-right {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

nav .menu-link {
  font-weight: 400;
}

nav img {
  height: 2.5rem;
  margin-right: 0.5rem;
}

nav button {  
  display: block;
  margin: 0.5rem;
  padding: 0.2rem;
  background: none;
  border: none;
  color: var(--header-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .menu-link:hover, nav button:hover {
  color: var(--primary-color-light);
}

.menu-link i {
  margin-right: 0.5rem;
}

#hamburger-button, #hamburger-menu {
  display: none;
}


#theme-switch i {
  /* color: var(--text-secondary-color); */
  font-size: 1.5rem;
}

/* Personal info section */
#personal-info {
  background-color: var(--primary-color);
  color: var(--header-color);
}

#personal-info .content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

#personal-info img {
  margin-top: 3rem;
  width: 160px;
  border-radius: 100%;
  box-shadow: var(--hero-shadow);
}

#personal-info h1 {
  font-size: 2rem;
}

#personal-info p {
  max-width: 300px;
}

#personal-info h1, #personal-info p {
  text-shadow: var(--hero-shadow);  
}

#personal-info ul {
  display: flex;
  flex-wrap: wrap;
}

#personal-info li {
  margin-right: 0.6rem;
  margin-bottom: 1rem;
}

#personal-info li:hover {
  opacity: 0.8;
}

#personal-info .social-links i {
  font-size: 2rem;
  color: var(--primary-color-light);
}

#personal-info .contact-links a {
  padding: 0.4rem 0.6rem;
  background-color: var(--primary-color-light);
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

/* Bio & Experience section */
#bio ul {
  max-width: 450px;
}

.bio-timeline li {
  display: flex;
  margin-bottom: 0.5rem;
}

.bio-timeline .bio-year {
  margin-right: 1rem;
  font-weight: 700;
}

/* Hobbies section */
#hobbies {
  background-color: var(--secondary-color-light);
}

/* Work section */
.card-work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card-work {
  padding: 2rem;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-work i {
  margin-bottom: 1rem;
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.card-work h3 {
  text-align: center;
  margin-bottom: 0.4rem;
}

.card-work p {
  text-align: center;
}

/* Tools section */
.tools-container {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  background-color: var(--tertiary-color);
}

.tools-container h4 {
  margin: 1rem 0;
}

.tools-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.tools-container li {
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;  
}

.tools-container img {
  height: 50px;
}

/* Projects section */
.projects-container {
  padding: 2rem;
  background-color: var(--tertiary-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Footer */
footer {
  background-color: var(--secondary-color-light);
}

/* Media queries */
@media screen and (max-width: 720px) {
  nav .menu-link {
    display: none;
  }

  #hamburger-button {
    display: block;
  }

  #hamburger-menu {
    padding: 0.5rem 1.5rem;
    position: absolute;
    right: 0;
    top: 2.5rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.5rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
  }

  #hamburger-menu a {
    margin: 0;
    padding: 0.5rem;
    font-weight: 400;    
  }

  #hamburger-menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.3rem;
    text-decoration: underline;
  }

  .card-work-container {
    grid-template-columns: 1fr;
  }
}
